<div class="p-5">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Название</th>
      <th scope="col">Автор</th>
      <th scope="col">Жанр</th>
      <th scope="col">Издатель</th>
      <th scope="col">Год издания</th>
      <th scope="col">Описание</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of allBooks; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{item.isbn}}</td>
      <td>{{item.title}}</td>
      <td>{{item.author.name}}</td>
      <td>{{item.genre.name}}</td>
      <td>{{item.publisher.name}}</td>
      <td>{{item.year}}</td>
      <td>{{item.description}}</td>
      <td>
        <button class="btn btn-warning mr-1" [routerLink]="['/addbook',item.id]"><img src="../../assets/pen.png"
                                                                                     height="15" width="15"/></button>
        <button class="btn btn-danger ml-1" (click)="deleteBook(item.id)"><img src="../../assets/trash.png" height="15"
                                                                              width="15"></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
