<app-header></app-header>
<div class="parent p-4">
  <form #formLogin="ngForm" class="child shadowBorder p-4">
    <div class="form-group">
      <label>Логин</label>
      <input type="text" class="form-control" [(ngModel)]="user.username" name="login" required #login="ngModel">
      <small class="text-danger" *ngIf="login.hasError('required')">
        Поле обязательно для заполнения
      </small>
    </div>

    <div class="form-group">
      <label>Пароль</label>
      <div class="input-group-prepend">
        <input type="{{passwordCheck}}" class="form-control" [(ngModel)]="user.password" name="password" required
               #password="ngModel">
        <span class="input-group-text" (click)="visiblePassword()"><img src="../../assets/eye.png" height="15" width="20"/></span>
      </div>
      <small class="text-danger" *ngIf="password.hasError('required')">
        Поле обязательно для заполнения
      </small>
    </div>

    <button
      [disabled]="login.errors || password.errors"
      type="submit" class="btn btn-warning" (click)="loginUser(user); formLogin.reset()">Войти
    </button>
    <button
      class="btn btn-warning mt-3" [routerLink]="['']">Отмена
    </button>
  </form>
</div>
