<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>org.postgresql.Driver</driverClass>
            <url>jdbc:postgresql://knigopoisk-db:5432/knigopoisk_gb</url>
            <user>postgres</user>
            <password>123456</password>
<!--            <url>${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5432/knigopoisk_gb}</url>-->
<!--            <user>${JDBC_DATABASE_USERNAME:postgres}</user>-->
<!--            <password>${JDBC_DATABASE_PASSWORD:123456}</password>-->
        </connectionSource>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="DB" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
