<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>org.postgresql.Driver</driverClass>
            <url>jdbc:postgresql://localhost:5432/knigopoisk_gb</url>
            <user>postgres</user>
            <password>123456</password>
        </connectionSource>
    </appender>

    <root level="WARN" >
        <appender-ref ref="DB" />
    </root>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>