<!--Изменение книги-->
<app-header></app-header>
<div class="parent p-4">
  <form #formnewbook="ngForm" class="child">
    <h5 *ngIf="!id">Добавление новой книги</h5>
    <h5 *ngIf="id">Редактирование книги</h5>
    <div class="row pt-2">
      <div class="form-group col-6">
        <label>ISBN</label>
        <input type="text" class="form-control" [(ngModel)]="newBook.isbn" name="isbn" required pattern="^[0-9]+$"
               minlength="13" maxlength="13" #isbn="ngModel" placeholder="Введите ISBN номер книги">
        <small class="text-danger" *ngIf="isbn.hasError('required')">
          Обязательно для заполнения
        </small>
        <small class="text-danger" *ngIf="isbn.hasError('pattern')">
          Использовать только цифры</small>
        <small class="text-danger" *ngIf="isbn.hasError('minlength')">
          13 символов</small>
        <small class="text-danger" *ngIf="isbn.hasError('maxlength')">
          13 символов</small>
      </div>

      <div class="form-group col-6">
        <label>Название книги</label>
        <input type="text" class="form-control" [(ngModel)]="newBook.title" name="title" required minlength="4"
               #title="ngModel"
               placeholder="Введите название книги">
        <small class="text-danger" *ngIf="title.hasError('required')">
          Обязательно для заполнения
        </small>
        <small class="text-danger" *ngIf="title.hasError('minlenght')">
          Минимум 4 символа
        </small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label>Жанр</label>
        <div *ngFor="let iGenre = index of addGenres">
          <div class="input-group" *ngIf="addGenres[iGenre] != 0">
            <select type="text" class="form-select" [(ngModel)]="addGenres[iGenre + 1]" name="genre{{iGenre + 1}}" (change)="addGenres = addSelect(addGenres)">
              <option *ngIf="addGenres[iGenre+1] == 0" [ngValue]="0" disabled>Выберите или добавте жанр книги</option>
              <option *ngIf="addGenres[iGenre+1] != 0" [ngValue]="0" >Удалить</option>
              <option *ngFor="let item of genres" [ngValue]='item.id'>{{item.name}}</option>
            </select>
            <div *ngIf="iGenre == 0" class="input-group-text" (click)="visibleAdd('жанр')">+</div>
          </div>
        </div>
        <small class="text-danger" *ngIf="addGenres.length <= 2">
          Обязательно для заполнения
        </small>
      </div>

      <div class="form-group col-6">
        <label>Автор книги</label>
        <div *ngFor="let iAuthor = index of addAuthors">
          <div class="input-group" *ngIf="addAuthors[iAuthor] != 0">
            <select type="text" class="form-select" [(ngModel)]="addAuthors[iAuthor + 1]" name="autor{{iAuthor + 1}}" (change)="addAuthors = addSelect(addAuthors)">
              <option *ngIf="addAuthors[iAuthor + 1] == 0" [ngValue]="0" disabled>Выберите или добавте автора книги</option>
              <option *ngIf="addAuthors[iAuthor + 1] != 0" [ngValue]="0" >Удалить</option>
              <option *ngFor="let item of authors" [ngValue]='item.id'>{{item.name}}</option>
            </select>
            <div *ngIf="iAuthor == 0" class="input-group-text" (click)="visibleAdd('автора')">+</div>
          </div>
        </div>
        <small class="text-danger" *ngIf="addAuthors.length <= 2">
          Обязательно для заполнения
        </small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-4">
        <label>Год публикации</label>
        <input type="text" class="form-control" [(ngModel)]="newBook.year" name="year" required
               pattern="[1-2]{1}[0-9]{3}" maxlength="4" minlength="4"
               #year="ngModel" placeholder="Введите год публикации книги">
        <small class="text-danger" *ngIf="year.hasError('required')">
          Обязательно для заполнения
        </small>
        <small class="text-danger" *ngIf="year.hasError('pattern')">
          Использовать только цифры</small>
      </div>

      <div class="form-group col-4">
        <label>Язык написания книги</label>
        <div *ngFor="let iLanguages = index of addLanguages">
          <div class="input-group" *ngIf="addLanguages[iLanguages] != 0">
            <select type="text" class="form-select" [(ngModel)]="addLanguages[iLanguages + 1]"
                    name="language{{iLanguages + 1}}" (click)="addLanguages = addSelect(addLanguages)">
              <option *ngIf="addLanguages[iLanguages + 1] == 0" [ngValue]="0" disabled>Выберите или добавте язык книги</option>
              <option *ngIf="addLanguages[iLanguages + 1] != 0" [ngValue]="0">Удалить</option>
              <option *ngFor="let item of languages" [ngValue]='item.id'>{{item.name}}</option>
            </select>
            <div *ngIf="iLanguages == 0" class="input-group-text" (click)="visibleAdd('язык')">+</div>
          </div>
        </div>
        <small class="text-danger" *ngIf="addLanguages.length <= 2">
          Обязательно для заполнения
        </small>
      </div>

      <div class="form-group col-4">
        <label>Издатель</label>
        <div class="input-group">
          <select type="text" class="form-select" [(ngModel)]="addPublisher" name="publisher">
            <option [ngValue]="0" disabled>Выберите или добавте издателя книги</option>
            <option *ngFor="let item of publishers" [ngValue]='item.id'>{{item.name}}</option>
          </select>
          <span class="input-group-text" (click)="visibleAdd('издателя')">+</span>
        </div>
        <small class="text-danger" *ngIf="addPublisher == 0">
          Обязательно для заполнения
        </small>
      </div>
    </div>

    <div class="form-group">
      <label>Описание</label>
      <textarea class="form-control" rows="3" [(ngModel)]="newBook.description"
                name="description" placeholder="Введите описание книги"></textarea>
    </div>
    <div class="row p-3">
      <div class="col-7"></div>
      <button
              [disabled]="isbn.errors || title.errors || addPublisher[0] == 0 || addLanguages[0] == 0 || year.errors || addAuthors[0] == 0 || addGenres[0] == 0"
      type="submit" class="btn btn-warning col-2" (click)="addNewBook()">Записать
      </button>
      <div class="col-1"></div>
      <button (click)="visible = false" class=" btn btn-warning col-2" [routerLink]="['']">Отмена</button>
    </div>
  </form>
</div>

<!--Добавление дополнительных зависимостей-->

<div class="parent addNew" *ngIf="visible">
  <form class="child p-4 shadowBorder" #addNewForm="ngForm">
    <div class="form-group">
      <h5>Добавить {{addNew}} книги</h5>
      <input type="text" class="form-control" [(ngModel)]="newName" name="newname" required #newname="ngModel">
      <small class="text-danger" *ngIf="newname.hasError('required')">
        Поле обязательно для заполнения
      </small>
    </div>

    <div class="form-group" *ngIf="addNew == 'издателя'">
      <label>Описание</label>
      <textarea class="form-control" rows="3" [(ngModel)]="newText"
                name="description"></textarea>
    </div>
    <div class="row p-3">
      <div class="col-7"></div>
      <button type="submit" [disabled]="newname.errors" class="btn btn-warning col-2" (click)="addNewObject(); addNewForm.reset();
      this.visible = false;">Записать
      </button>
      <div class="col-1"></div>
      <button (click)="visible = false" class=" btn btn-warning col-2">Отмена</button>
    </div>
  </form>
</div>
