<!--Добавление новой книги-->

<div class="parent p-4">
  <form #formnewbook="ngForm" class="child">

    <div class="row">
    <div class="form-group col-6">
      <label>ISBN</label>
      <input type="text" class="form-control" [(ngModel)]="newBook.isbn" name="isbn" required pattern="^[0-9]+$"
             minlength="13" maxlength="13" #isbn="ngModel">
      <small class="text-danger" *ngIf="isbn.hasError('required')">
        Поле обязательно для заполнения
      </small>
      <small class="text-danger" *ngIf="isbn.hasError('pattern')">
        Использовать только цифры</small>
      <small class="text-danger" *ngIf="isbn.hasError('minlength')">
        13 символов</small>
      <small class="text-danger" *ngIf="isbn.hasError('maxlength')">
        13 символов</small>
    </div>

    <div class="form-group col-6">
      <label>Название книги</label>
      <input type="text" class="form-control" [(ngModel)]="newBook.title" name="title" required #title="ngModel">
      <small class="text-danger" *ngIf="title.hasError('required')">
        Поле обязательно для заполнения
      </small>
    </div>
    </div>

    <div class="row">
    <div class="form-group col-6">
      <label>Жанр</label>
      <div class="input-group-prepend">
        <select type="text" class="custom-select" [(ngModel)]="newBook.genre" name="genre" required
                #genge="ngModel">
          <option *ngFor="let item of genres" [ngValue]='{"id":item.id,"name":item.name}'>{{item.name}}</option>
        </select>
        <div class="input-group-text" (click)="visibleAdd('жанр')">+</div>
      </div>
      <small class="text-danger" *ngIf="genge.hasError('required')">
        Поле обязательно для заполнения
      </small>
    </div>

    <div class="form-group col-6">
      <label>Автор книги</label>
      <div class="input-group-prepend">
        <select type="text" class="custom-select" [(ngModel)]="newBook.author" name="autor" required
                #autor="ngModel">
          <option *ngFor="let item of authors" [ngValue]='{"id":item.id,"name":item.name}'>{{item.name}}</option>
        </select>
        <div class="input-group-text" (click)="visibleAdd('автора')">+</div>
      </div>
      <small class="text-danger" *ngIf="autor.hasError('required')">
        Поле обязательно для заполнения
      </small>
    </div>
    </div>

    <div class="row">
    <div class="form-group col-4">
      <label>Год выпуска</label>
      <input type="text" class="form-control" [(ngModel)]="newBook.year" name="year" required pattern="^[0-9]+$"
             #year="ngModel">
      <small class="text-danger" *ngIf="year.hasError('required')">
        Поле обязательно для заполнения
      </small>
      <small class="text-danger" *ngIf="year.hasError('pattern')">
        Использовать только цифры</small>
    </div>

    <div class="form-group col-4">
      <label>Язык написания книги</label>
      <div class="input-group-prepend">
        <select type="text" class="custom-select" [(ngModel)]="newBook.lang" name="lang" required #lang=ngModel>
          <option *ngFor="let item of languages" [ngValue]='{"id":item.id,"name":item.name}'>{{item.name}}</option>
        </select>
        <div class="input-group-text" (click)="visibleAdd('язык')">+</div>
      </div>
      <small class="text-danger" *ngIf="lang.hasError('required')">
        Поле обязательно для заполнения
      </small>
    </div>

    <div class="form-group col-4">
      <label>Издатель</label>
      <div class="input-group-prepend">
        <select type="text" class="custom-select" [(ngModel)]="newBook.publisher" name="publisher" required
                #publisher="ngModel">
          <option *ngFor="let item of publishers" [ngValue]='{"id":item.id,"name":item.name}'>{{item.name}}</option>
        </select>
        <span class="input-group-text" (click)="visibleAdd('издателя')">+</span>
      </div>
      <small class="text-danger" *ngIf="publisher.hasError('required')">
        Поле обязательно для заполнения
      </small>
    </div>
    </div>

    <div class="form-group">
      <label>Описание</label>
      <textarea class="form-control" rows="3" [(ngModel)]="newBook.description"
                name="description"></textarea>
    </div>

    <button
      [disabled]="isbn.errors || title.errors || genge.errors || autor.errors || year.errors || lang.errors || publisher.errors"
      type="submit" class="btn btn-primary" (click)="addNewBook(); formnewbook.reset()">Submit
    </button>
  </form>
</div>

<!--Добавление дополнительных зависимостей-->

<div class="parent addNew" *ngIf="visible">
  <span (click)="visible = false">закрыть</span>
  <form class="child" #addNewForm="ngForm">
    <div class="form-group">
      <label>Добавить {{addNew}} книги</label>
      <input type="text" class="form-control" [(ngModel)]="newName" name="newname" required #newname="ngModel">
      <small class="text-danger" *ngIf="newname.hasError('required')">
        Поле обязательно для заполнения
      </small>
    </div>

    <div class="form-group" *ngIf="addNew == 'издателя'">
      <label>Описание</label>
      <textarea class="form-control" rows="3" [(ngModel)]="newText"
                name="description"></textarea>
    </div>

    <button
      type="submit" [disabled]="newname.errors" class="btn btn-primary" (click)="addNewObject(); addNewForm.reset();
      this.visible = false;">Submit
    </button>
  </form>
</div>

<div class="child" style="z-index: 20">
  <div>{{error.defaultMessage}}</div>
</div>
