.parent {
  display: flex;
}
.child {
  margin: auto;
  display: flex;
  flex-direction: column;
  width:70%
}
.shadowBorder{
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
  border-radius: 20px;
  border: solid 1px darkgrey;
}
